@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700')
	;

@import url('NotoKr.css');

html> /**/ body {
	overflow: hidden;
}

* {
	-webkit-text-size-adjust: none
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
}

body {
	height: 100%;
	font-size: 14px;
	font-family: 'Noto Sans Korean', "Malgun Gothic", sans-serif;
	color: #474c55;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body, div, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, form,
	fieldset, input, table, tr, th, td {
	margin: 0;
	padding: 0;
	letter-spacing: -0.03em;
}

ul, ol, li {
	list-style: none
}

img, fieldset {
	border: none;
	vertical-align: top;
}
/*legend, caption{display:noneposition:absolute; top:-9999999px; left:-9999999px;} */
textarea, button {
	vertical-align: middle
}

button {
	cursor: pointer;
	border: none;
	overflow: visible;
}

input {
	vertical-align: middle;
	margin: 0;
	padding: 0;
	letter-spacing: -0.01em;
	font-size: 14px;
	font-family: 'Noto Sans Korean', 'Malgun Gothic', sans-serif, dotum,
		Arial;
	-webkit-text-size-adjust: none;
}

input[type="text"], input[type="password"] {
	border: 1px solid #d9d9d9;
	height: 30px;
	padding-top: 2px;
	padding-left: 5px;
	width: 100%;
}

input[type="file"] {
	height: 30px;
	width: 100%;
}

select {
	vertical-align: middle;
	margin: 0;
	padding: 0;
	letter-spacing: -0.01em;
	font-size: 15px;
	font-family: 'Noto Sans Korean', 'Malgun Gothic', sans-serif, dotum,
		Arial;
	-webkit-text-size-adjust: none;
	border: #d9d9d9 1px solid;
	height: 31px;
	font-weight: 300;
}

textarea {
	border: #d9d9d9 1px solid;
	width: 100%;
	font-size: 15px;
	padding: 5px;
	font-family: 'Noto Sans Korean', 'Malgun Gothic', sans-serif, dotum,
		Arial;
}

.checkbox {
	padding: 0;
	border: 0;
	vertical-align: middle;
}

a {
	text-decoration: none;
	color: #474c55;
}

a:hover, a:focus, a:active {
	text-decoration: none;
	color: #008697
}

button {
	margin: 0;
	padding: 0;
	background: none;
	font-size: 14px;
	font-family: 'Noto Sans Korean', sans-serif;
	color: #474c55;
	word-break: break-all;
}

caption, legend {
	top: -1000em;
	left: -1000em;
	text-indent: -1000em;
	overflow: hidden;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0
}

header, footer, section, article, aside, nav {
	display: block;
	margin: 0;
} /* ie8 */
.txt-ct {
	text-align: center;
}

.txt-rt {
	text-align: right;
}

.txt-lt {
	text-align: left;
}

.font11 {
	font-size: 12px;
}

.font12 {
	font-size: 12px;
}

.font13 {
	font-size: 13px;
}

.font14 {
	font-size: 14px;
}

.font15 {
	font-size: 15px;
}

.font16 {
	font-size: 16px;
}

.font17 {
	font-size: 17px;
}

.font18 {
	font-size: 18px;
}

.font19 {
	font-size: 19px;
}

.font20 {
	font-size: 20px;
}

.mgt-5 {
	margin-top: 5px;
}

.mgt-10 {
	margin-top: 10px;
}

.mgt-15 {
	margin-top: 15px;
}

.mgt-20 {
	margin-top: 20px;
}

.mgt-25 {
	margin-top: 25px;
}

.mgt-30 {
	margin-top: 30px;
}

.mgt-35 {
	margin-top: 35px;
}

.mgt-40 {
	margin-top: 40px;
}

.mgl-5 {
	margin-left: 5px;
}

.mgl-10 {
	margin-left: 10px;
}

.mgl-15 {
	margin-left: 15px;
}

.mgl-20 {
	margin-left: 20px;
}

.mgl-25 {
	margin-left: 25px;
}

.mgl-30 {
	margin-left: 30px;
}

.mgl-35 {
	margin-left: 35px;
}

.mgl-40 {
	margin-left: 40px;
}

.mgr-5 {
	margin-right: 5px;
}

.mgr-10 {
	margin-right: 10px;
}

.mgr-15 {
	margin-right: 15px;
}

.mgr-20 {
	margin-right: 20px;
}

.mgr-25 {
	margin-right: 25px;
}

.mgr-30 {
	margin-right: 30px;
}

.mgr-35 {
	margin-right: 35px;
}

.mgr-40 {
	margin-right: 40px;
}

.mgb-5 {
	margin-bottom: 5px;
}

.mgb-10 {
	margin-bottom: 10px;
}

.mgb-15 {
	margin-bottom: 15px;
}

.mgb-20 {
	margin-bottom: 20px;
}

.mgb-25 {
	margin-bottom: 25px;
}

.mgb-30 {
	margin-bottom: 30px;
}

.mgb-35 {
	margin-bottom: 35px;
}

.mgb-40 {
	margin-bottom: 40px;
}

.pdt-5 {
	padding-top: 5px;
}

.pdt-10 {
	padding-top: 10px;
}

.pdt-15 {
	padding-top: 15px;
}

.pdt-20 {
	padding-top: 20px;
}

.pdt-25 {
	padding-top: 25px;
}

.pdt-30 {
	padding-top: 30px;
}

.pdt-35 {
	padding-top: 35px;
}

.pdt-40 {
	padding-top: 40px;
}

.pdl-5 {
	padding-left: 5px;
}

.pdl-10 {
	padding-left: 10px;
}

.pdl-15 {
	padding-left: 15px;
}

.pdl-20 {
	padding-left: 20px;
}

.pdl-25 {
	padding-left: 25px;
}

.pdl-30 {
	padding-left: 30px;
}

.pdl-35 {
	padding-left: 35px;
}

.pdl-40 {
	padding-left: 40px;
}

.pdr-5 {
	padding-right: 5px;
}

.pdr-10 {
	padding-right: 10px;
}

.pdr-15 {
	padding-right: 15px;
}

.pdr-20 {
	padding-right: 20px;
}

.pdr-25 {
	padding-right: 25px;
}

.pdr-30 {
	padding-right: 30px;
}

.pdr-35 {
	padding-right: 35px;
}

.pdr-40 {
	padding-right: 40px;
}

.pdb-5 {
	padding-bottom: 5px;
}

.pdb-10 {
	padding-bottom: 10px;
}

.pdb-15 {
	padding-bottom: 15px;
}

.pdb-20 {
	padding-bottom: 20px;
}

.pdb-25 {
	padding-bottom: 25px;
}

.pdb-30 {
	padding-bottom: 30px;
}

.pdb-35 {
	padding-bottom: 35px;
}

.pdb-40 {
	padding-bottom: 40px;
}

.hidden {
	display: none;
}

.non-positon {
	position: inherit !important;
}
